/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-8-20, 15:11:50
    Author     : 91074
*/

.navbar-title {
    text-align: center;
}

.navbar-form {
    text-align: left;
}

.navbar-title .navbar-style .ui-widget-content {
    background: #fff;
}

.navbar-style .ui-accordion .ui-accordion-content {
    padding:0;
}