/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-8-11, 12:24:06
    Author     : 91074
*/

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-horizontal .btn {
    font-size: 14px;
    border-radius: 15px;
}


.form-horizontal .btn:focus {
    outline: none;
}

.navbar-title {
    text-align: center;
    border: none;
}

.navbar-style {
    text-align: left;
}

.mainpage-style {
    border: none;
    min-width: 600px;
}

/*.navbar-style .ui-widget {
    border:none;
}*/

.ui-layout-resizer {
    border: none;
}

.iframe-style {
    border: none;
}

.ui-clock {
    background: #fff;
    border: none;
    position: absolute;
    right: 0px;
}

.ui-menu .ui-menuitem-text {
    text-indent: 1em;
}

body {

}