/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-8-11, 12:24:06
    Author     : 91074
*/

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-horizontal .btn {
    font-size: 14px;
    border-radius: 15px;
}


.form-horizontal .btn:focus {
    outline: none;
}

.navbar-title {
    text-align: center;
}

.navbar-style {
    text-align: left;
    background: #fff;
}

.ui-clock {
    background: #fff;
    border: none;
    position: absolute;
    right: 0px;
}

.nav {
    position: relative
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 46px;
    max-height: 46px;
    /*color: #abb1b7;*/
    transition: all .3s
}

.nav a span {
    font-size: 16px;
     margin: 0 auto; 
}

.nav > a:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 46px;
    background: #34a0ce;
    opacity: 0;
    transition: all .3s
}

.nav > a:hover {
    color: #fff;
    background: rgba(0, 0, 0, .1)
}

.nav > a:hover:before {
    opacity: 1
}

.nav li:hover a {
    color: #fff;
    background: rgba(0, 0, 0, .1)
}

.ui-draggable-handle {
    touch-action: none;
    border: none;
}

/*.fa-plus-circle {
    font-size: 16px;
    color: #4cae4c;
}*/